.navbar {
    display: flex;
    justify-content: center;
}
.navbar a {
    text-decoration: none;
    color: #FFF;
    
}
.nav-left img {
    width: 80px;
    height: 70px;
    
}
.nav-right img {
    width: 28px;
    height: 28px;
    
}
.nav-left {
    margin-right: 30%;
}

.nav-right {
/* margin-right: -40%; */
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: -2%;
}
.nav-center{
    margin-right: 20%;
    margin-top: 2%;
}

.nav-center {
    /* margin: 20px */
    display: flex;
    align-items: flex-start;
    gap: 72px;
}
#text4 {
    color: #000;
    text-align: center;
    font-family: Urbanist;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    
}
.material-symbols-outlined {
    position: absolute;
    margin-left: -30px;
    margin-bottom: -20px;
}
#search-button {
    width: 812px;
    height: 38px;
    margin-top: -10px;
    border-radius: 10px;
    
}
.reviews {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.reviews button {
    margin-left: auto;
    width: 150px;
    height:40px;
}
#text6 {
    color: #000;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#text5 {
    color: #000;
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    
}
form {
    margin-left: 30%;
    margin-top: 20px;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
  input,
  select,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 50%;
    box-sizing: border-box;
}

button {
background-color: #3498db;
color: #fff;
padding: 10px;
border: none;
border-radius: 3px;
cursor: pointer;
}

button:hover {
background-color: #2c81ba;
}